.container {
  width: calc(100% - 4rem);
  max-width: 1200px;
  margin: 0 auto;

  &--offset {
    @media screen and (min-width: 640px) {
      margin-inline: 7rem 2rem;
      width: calc(100% - 9rem);
    }
  }

  &--reasons {
    @media screen and (min-width: 1560px) {
      max-width:1600px;

    }
  }

  &--philosophies {
    @media screen and (min-width: 1560px) {
      max-width:1600px;

    }
  }

  .image-overlay-text {
    width: 60%;
    text-align: left;

    @media screen and (min-width: 840px) {
      width: 25%;
    }

    h5 {
      margin: 0rem 0 3rem 0;
      font-size: 1rem;
      font-weight: 300;
      opacity: 0.5;

      @media screen and (min-width: 680px) {
        margin: 0.5rem 0 3rem 0;
      }


      @media screen and (min-width: 840px) {
        font-size: 1.2rem;
      }

      @media screen and (min-width: 2000px) {
        font-size: 1.3rem;
      }



    }
  }



}