
#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none; /* Hidden by default */
  position: absolute;
  top: 13%;
  left: 40%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.contact {
  .cards {
    padding-bottom:3rem;

    @media screen and (min-width: 2000px) {
      margin: 0 15em
    }
    
    .card {
      background: var(--light);
      color: var(--blue-100);

      &:hover {
        background: var(--blue-100);
        color: var(--light);
      }
    }
  }
}
