.databricks {
  .our-work-section {
    .section {
      @media screen and (min-width: 680px) {
        min-height: 10vh;
      }
    }
  }

  a.blue-color {
    color: white !important;
  }
}

.databricks .our-work-section .section .panel-content a.blue-color {
  color: white !important;
}

.partner_image_header{
  //height: 10rem; 
  display: inline-block;
}

.partner_header_header{
  color: #27A8E0; 
  display: inline-block;
}