.databricks {
  .our-work-section {
    .section {
      @media screen and (min-width: 680px) {
        min-height: 10vh;
      }
    }
  }

  a.blue-color {
    color: white !important;
  }
}

.databricks .our-work-section .section .panel-content a.blue-color {
  color: white !important;
}

.partner_image_header{
  display: inline-block;
  height: 80px;
  

  @media screen and (max-width:500px){
    display: none;
  }

  @media screen and (max-width:737px){
    height: 50px;  
  }

}

.partner_header_header{
  color: #27A8E0; 
  display: inline-block;
}