.map-container {
  position: relative;
  width: 1000px;
  height: 500px;
  margin-bottom: 5rem;
}

.map-container svg {
  height: 100%;
  width: 100%;
}

.path-transition {
  transition: transform 0.5s;
}

.display-section{
  display: flex;
  @media screen and (max-width: 975px) {
    display: None;
}
}

.display-header{
  @media screen and (max-width: 975px) {
    display: None;
}
}