.members {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 0rem;

  

  .qualification-mobile{

    padding: 10px  0 25px 0;
    
    @media screen and (min-width: 680px) {
      display: none;
      
      
    }
    
  }

  .member {
    --member-bg: var(--blue-100);
    --member-color: var(--light);

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    background: var(--member-bg);
    color: var(--member-color);

    overflow: hidden;
    border-radius: 20px;

    @media screen and (min-width: 680px) {
      border-radius: 0px;
    }

    &-profile-image {
      flex: 0 0 25%;
      min-width: max(25%, 150px);
      max-width: 25%;
      min-height: 300px;

      @media screen and (min-width: 640px) {
        min-width: max(25%, 300px);
        min-height: auto;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .image-overlay-text {
        position: absolute;
        bottom: 0;
        left: 0;
        color: black;
        width: 50%;
        box-sizing: border-box;
        text-align: center;

        @media screen and (min-width: 640px) {          
          padding: 5px;
          width: 25%;
          
        }
      }

    }

    &-profile-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      padding: 2rem 3rem;

      @media screen and (min-width: 1100px) {
        padding: 3rem 4.75rem;
      }

      .name {
        font-size: 1.25rem;
        font-weight: 500;

        @media screen and (min-width: 680px) {
          font-size: 2rem;
        }

        @media screen and (min-width: 840px) {
          font-size: 2rem;
        }
      }

      .title {
        margin-block-start: 0.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        opacity: 0.5;

        @media screen and (min-width: 680px) {
          font-size: 1.2rem;
        }

        @media screen and (min-width: 840px) {
          font-size: 1.2rem;
        }

        @media screen and (min-width: 2000px) {
          font-size: 1.3rem;
        }        
      }

      .qualification {
        display: none;
        margin-block-start: 0.75rem;
        font-size: 0.875rem;
        font-weight: 500;

        @media screen and (min-width: 680px) {
          display: block;
          font-size: 1rem;
        }

        @media screen and (min-width: 840px) {
          font-size: 1rem;
        }

        @media screen and (min-width: 2000px) {
          font-size: 1.15rem;
        }
      }

      .read-more {
        display: block;

        margin-block-start: 1.5rem;

        text-decoration: underline;
        cursor: pointer;

        @media screen and (min-width: 680px) {
          display: none;
        }
      }

      .bio {
        display: none;
        margin-block-start: 1.5rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.3;

        @media screen and (min-width: 680px) {
          display: block;
          font-size: 1.15rem;
        }

        @media screen and (min-width: 840px) {
          font-size: 1.15rem;
        }

        @media screen and (min-width: 2000px) {
          font-size: 1.25rem;
        }

        @media screen and (min-width: 2700px) {
          font-size: 1.4rem;
        }
      }
    }

    .expanded-bio {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;

      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding-inline: 1.5rem;

      background: var(--blue-100);
      color: var(--light);

      @media screen and (min-width: 680px) {
        display: none;
      }

      .name {
        margin-block-end: 0.75rem;
        font-size: 1.5rem;
        font-weight: 500;
      }

      .read-more {
        margin-block-start: 1.5rem;

        text-decoration: underline;
        cursor: pointer;
      }
    }

    &:nth-child(4n-1) {
      --member-bg: var(--light);
      --member-color: var(--blue-100);
      

      .title {
        color: var(--light-700);
      }
    }

    &:first-child {
      @media screen and (min-width: 680px) {
        border-radius: 20px 20px 0 0;
      }
            
    }

    &:nth-last-child(3) {
      @media screen and (min-width: 680px) {
        border-radius: 0 0 20px 20px;
      }
    }

    &.is-expanded {
      .expanded-bio {
        display: flex;

        @media screen and (min-width: 680px) {
          display: none;
        }
      }
    }
  }
}