.members {
  border-radius: 20px;
  border-width: 15px;
  border-color: black;
  border: solid;
  //padding: 10px  0 25px 0;
  margin-top: 2.5rem;
  display: flex;
  

  @media screen and (max-width:785px){
    justify-content: center;
  }
  .beskrywing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    
    
    @media screen and (max-width:912px){
      display: none;
    }
  }
  
  &--member1{
    background: var(--blue-200);
    border-radius: 20px;
    color: var(--light);
  }

  &--member2{
    background: var(--light);
    border-radius: 20px;
    color: var(--blue-200);
  }

 .a-member{
  background-color: aqua;
 } 

  .readMe{
    display: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    
    &--link{
      cursor: pointer;
      text-decoration: underline;
    }
    
    @media screen and (max-width:373px){
      display: none;
    }

    @media screen and (max-width:912px){
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    

    &--member-1{
      color: var(--light);
      font-size: 1.25rem;
      
      &--title{
        margin-block-start: 0.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        opacity: 0.5;
  
        @media screen and (min-width: 680px) {
          font-size: 1.2rem;
        }
  
        @media screen and (min-width: 840px) {
          font-size: 1.2rem;
        }
  
        @media screen and (min-width: 2000px) {
          font-size: 1.3rem;
        }
      }
    }

    &--member-2{
      color: var(--blue-200);
      font-size: 1.25rem;
      
      &--title{
        margin-block-start: 0.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        opacity: 0.5;
  
        @media screen and (min-width: 680px) {
          font-size: 1.2rem;
        }
  
        @media screen and (min-width: 840px) {
          font-size: 1.2rem;
        }
  
        @media screen and (min-width: 2000px) {
          font-size: 1.3rem;
        }
      }
    }
  }

  // .footer-qualification{
  //   display: block;
  //   margin-block-start: 0.75rem;
  //   font-size: 0.875rem;
  //   font-weight: 500;
  //   background-color: brown;

  // @media screen and (max-width: 840px) {
  //   font-size: 0.875rem;
  // }

  // @media screen and (max-width: 840px) {
  //   font-size: 1rem;
  // }
  // }

  .read-more-less{
    margin-block-start: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.25rem;
    padding-bottom: 10px;
  }
}

.is-expanded{
 
}

.js-bio-more{
  //background-color: aqua;
}

.name {
  font-size: 1.25rem;
  font-weight: 500;

  @media screen and (min-width: 680px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 840px) {
    font-size: 2rem;
  }
}

.title {
  margin-block-start: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.5;

  @media screen and (min-width: 680px) {
    font-size: 1.2rem;
  }

  @media screen and (min-width: 840px) {
    font-size: 1.2rem;
  }

  @media screen and (min-width: 2000px) {
    font-size: 1.3rem;
  }        
}

.bio{
  margin-block-start: 0.5rem;
  font-size: 1.25rem;
}

.qualification {
  display: none;
  margin-block-start: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;

  @media screen and (min-width: 680px) {
    display: block;
    font-size: 1rem;
  }

  @media screen and (min-width: 840px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 2000px) {
    font-size: 1.15rem;
  }
}

.member-profile-info-member-1{
  &-member_1{
    color: var(--light)
  }
}

.member-profile-info-member-2{
  &-member_2{
    color:(var(--blue-200) )
  }
}

.member-profile-image{
  display: block;
  @media screen and (max-width:785px){
    display: none;
    
  }
}

.image{
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.expanded-bio{

  display: none;
  &--jacobus{
    font-size: 1.25rem;
  }

  @media screen and (max-width:912px){
    display: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.x-none{
  display: none !important;
}

.y-display{
  //display: block !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.read-more {
  display: block;

  margin-block-start: 1.5rem;

  text-decoration: underline;
  cursor: pointer;

  @media screen and (min-width: 912px) {
    display: none;
  }
}

.footer-qualification{
  display: block;
  margin-block-start: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;

@media screen and (max-width: 840px) {
  font-size: 0.875rem;
}

@media screen and (max-width: 840px) {
  font-size: 1rem;
}
}
