.navigation {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;

  width: 100%;
  height: var(--nav-height);

  padding-inline: calc(2.375rem - 1.5rem);



  @media screen and (min-width: 630px) {
    justify-content: flex-end;
  }
  
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--nav-bg);
    opacity: var(--nav-opacity);
  }

  .desktop-logo {
    
    display: none; /* Hide the desktop logo by default on mobile screens */
    position: absolute;
    left:2rem;

    @media screen and (min-width: 980px) {     

      display: flex;
      justify-content: flex-start;      
      z-index: 2;
      
      a {
        width: 10rem;
      }
   
      
    } 

  }

  .mobile-only {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 0 1.5rem;

    .fill {
      flex: 1 1 auto;
    }

    .contact-us {
      position: relative;
      z-index: 2;
      font-size: 1.25rem;

      color: var(--light);

      text-decoration: none;
    }

    @media screen and (min-width: 680px) {
      display: none;
    }
  }

  .hamburger {
    position: relative;
    z-index: 2;

    width: 2rem;
    height: 2rem;

    padding: 0;
    margin: 0;
    border: none;

    background: none;

    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      width: 1.5rem;
      height: 2px;

      background: var(--light);

      will-change: translate rotate width opacity;
      transition: translate 0.2s ease-in-out, rotate 0.2s ease-in-out, width 0.2s ease-in-out, opacity 0.2s ease-in-out;

      &:nth-child(1) {
        translate: -50% calc(-50% - 8px);
      }

      &:nth-child(3) {
        translate: -50% calc(-50% + 8px);
      }
    }
  }

  .logo {
    position: relative;
    z-index: 2;
    display: block;
    width: auto;
    height: 1.5rem;
    margin-inline-end: 1rem;

    svg {
      display: block;
      width: auto;
      height: 1.5rem;

      path {
        fill: var(--light);
      }
    }
  }

  ul {
    position: relative;
    z-index: 2;

    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;

    list-style: none;

    @media screen and (min-width: 680px) {
      display: flex;
    }

    li {
      a {
        display: block;
        padding: 1rem 1.5rem;
        color: var(--nav-color);
        font-size: var(--nav-item-fs);
        font-weight: 300;        
        text-decoration: none;
        transition: font-weight 0.2s ease;
        

        &:hover {
          color: var(--nav-color-hover);          
          text-shadow: 0.75px 0 1px var(--nav-color-hover)
          
        }

        @media screen and (max-width: 1100px) {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }

  &.is-open {
    .hamburger {
      .line {
        &:nth-child(1) {
          translate: -50% -50%;
          rotate: 45deg;
        }

        &:nth-child(2) {
          translate: -50% -50%;
          rotate: 270deg;
          opacity: 0;
          width: 0;
        }

        &:nth-child(3) {
          translate: -50% -50%;
          rotate: -45deg;
        }
      }
    }

    @media screen and (max-width: 680px) {
      ul {
        display: flex;

        position: absolute;
        z-index: 100;
        top: 100%;
        left: 0;
       
        

        flex-direction: column;
        justify-content:flex-start;
        align-items: center;

        width: 100%;
        height: calc(100vh - var(--nav-height));

        margin: 0;
        padding: 2.5rem 0;;

        background: rgba(0, 0, 0, 0.8);

        li {
          a {
            font-size: 1.5rem;
            padding: 1.5rem 3rem;
            
          }
        }
      }
    }   
  }

  &--solid {
    --nav-opacity: 1;

    &::after {
      background: linear-gradient(90deg, #27a8e0 0%, #005aa7 100%);
    }
  }
}