.panel {
  position: relative;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  overflow: hidden;
  border-radius: 1rem;

  @media screen and (min-width: 840px) {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 4fr 1fr;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: calc(100% - 2px);
    height: calc(100% - 2px);

    border: 1px solid currentColor;
    border-radius: 1rem;
    opacity: 0.15;
  }

  &-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    padding: 2rem;

    @media screen and (min-width: 680px) {
      gap: 1.5rem;
    }
    @media screen and (min-width: 840px) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      gap: 2.25rem;
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      

      @media screen and (min-width: 680px) {
        font-size: 2.3rem;
        padding-top:1rem;
      }

      @media screen and (min-width: 1560px) {
        font-size: 2.6rem;
        padding-top:2rem;
      }
    }

    p {
      max-width: min(60ch, 100%);

      font-size: 1rem;
      line-height: 1.5;
      text-align: center;

      @media screen and (min-width: 680px) {
        font-size: 1.3rem;
      }

      @media screen and (min-width: 1560px) {
        font-size: 1.65rem;
      }
    }

    .read-more {
      position: relative;
      font-size: 1rem;
      text-decoration:underline;
      color: currentColor;        

      @media screen and (min-width: 680px) {
        font-size: 1.1rem;
      }
      @media screen and (min-width: 1560px) {
        font-size: 1.3rem;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 0;
        height: 2px;

        background: currentColor;

        transition: width 0.3s ease-in-out;
        will-change: width;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  &-media {
    position: relative;
    z-index: 2;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 200px;

    @media screen and (min-width: 840px) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      height: auto;
    }

    &--corporate-web-software-development {
      background: url("/cwd.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    &--geospatial-software-engineering {
      background: url("/geospatial.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &--data-sciences-predictive-modeling-services {
      background: url("/ai.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &--telematics-logistics-software-engineering {
      background: url("/telematics.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &--digital-marketing-services {
      background: url("/digital.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &--enterprice-resource-scheduling-reporting {
      background: url("/alpha.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &-footer {
    position: relative;
    z-index: 2;

    grid-column: 1 / 2;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-inline: 1.5rem;
    padding-block: 1rem;

    overflow: hidden;

    @media screen and (min-width: 680px) {
      padding-inline: 2rem;
    }

    @media screen and (min-width: 840px) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      padding-inline: 3rem;
      padding-block: 0;
    }
  }
}
