.partners {
 
  .cards {
    margin-block-end: 5rem;    
    gap: 3.8rem;

    .card {
      // --card-size: calc((100% - (1.875rem * 1)) / 2);
      --card-size: 15rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: var(--card-size);
      padding:10px;
      
    
      
      .icon {
        
        img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: contain;

        }
      }
    }
  }

  .h2-custom{
    margin: 0;
  }
  .h3-custom{
    margin: 0;
  }

  .contact-us{
    color: white;
  }
}

.altair {
      
  .section-title {
    padding-block-start: 2rem;
  }  

  .motion-scroller {
    width: 100%;
    .viewport {
      overflow: hidden;
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        // padding-bottom:1rem;

        @media screen and (min-width: 680px) {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          gap: 0;
        }

        .item.open{
          height:auto;
        }

        .item {
          position: relative;
          flex: 1 1 auto;
          aspect-ratio: unset;
          width: 100%;
          height: 6rem;

          background-size: cover;
          background-position: center;

          overflow: hidden;


          @media screen and (min-width: 680px) {
            flex: 0 0 40%;
            aspect-ratio: 2 / 3;
            width: auto;
            height: auto;
          }
          @media screen and (min-width: 800px) {
            flex: 0 0 30%;
          }
          @media screen and (min-width: 1200px) {
            flex: 0 0 20%;
          }
          @media screen and (min-width: 2000px) {
            flex: 0 0 16%;
          }

          .title {
            position: static;
            bottom: 0;
            left: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 6rem;

            border: 1px solid transparent;

            font-size: 1.4rem;
            font-weight: 500;

            color: var(--light);
            
            //set original background color - can't see text if it is see through
            background: var(--blue-100);
            opacity: 0.90;

            @media screen and (min-width: 680px) {
              position: absolute;
              width: 100%;
              height: 20%;
              border: 1px solid var(--blue-100);
            }

            span {
              position: relative;
              z-index: 2;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;

              width: 100%;
              height: 0;
             
              background: var(--blue-100);
              opacity: 0;

              will-change: opacity;
              transition: opacity 0.2s ease-in-out;

              @media screen and (min-width: 680px) {
                height: 100%;
              }
            }
          }
          .description {
            position: static;
            top: 0;
            left: 0;

            translate: 0 0;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: auto;

            padding: 1.5rem;

            background: rgba(0, 0, 0, 0.6);
            color: var(--light);

            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;

            will-change: translate;
            transition: translate 0.2s ease-in-out;

            display: flex; 
            flex-direction: column;

            @media screen and (min-width: 680px) {
              position: absolute;
              translate: 0 -100%;
              height: 80%;
              // padding: 3rem;
              font-size: 1.1rem;             
            }
            @media screen and (min-width: 800px) {
              flex: 0 0 30%;
              font-size: 1.1rem;
            }
            @media screen and (min-width: 1100px) {
              flex: 0 0 25%;
              font-size: 1.1rem;
            }
            @media screen and (min-width: 2000px) {
              flex: 0 0 20%;
              font-size: 1.1rem;
            }

            @media screen and (min-width: 2700px) {
              flex: 0 0 15%;
              font-size: 1.5rem;
            }
          }
          @media screen and (min-width: 680px) {
            &:hover{
            height: auto;
            .title {
              font-weight: 600;
              &::after {
                opacity: 0.6;
              }
            }
            .description {
              translate: 0 0;
            }
            }
          }

          &--rapid-miner {
            background-image: url("/RapidMiner.jpg");
          }
          
         
          &--monarch {
            background-image: url("/monarch.jpg");
          }

          &--slc {
            background-image: url("/slc.jpeg");
          }

          &--panopticon{
            background-image: url("/panopticon.jpg");
          }
        }
      }
    }
  }

  .grid {
    padding-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    width: 100%;

    @media screen and (min-width: 580px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 960px) {
      grid-template-columns: 2fr 2fr 2fr 2fr;
    }

    h4 {
      margin-block: 0 2rem;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: left;

      @media screen and (min-width: 680px) {
        font-size: 1.5rem;
      }
      @media screen and (min-width: 840px) {
        font-size: 1.75rem;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        text-align: left;
        padding: 0.35rem 0;

        @media screen and (min-width: 680px) {
          padding:0.1rem 0;            
        }

        a {
          position: relative;
          font-size:1.2rem;
          text-decoration: none;

          color: var(--light);
          

          @media screen and (min-width: 680px) {
            font-size: 1.2rem;
            
          }
          @media screen and (min-width: 840px) {
            font-size: 1.25rem;
          }

          @media screen and (min-width: 2700px) {
            font-size: 1.4rem;
          }

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;

            width: 0;
            height: 2px;

            background: var(--light);
          }

          &:hover {
            &::after {
              width: 100%;
              transition: width 0.2s ease-in-out;
              height:1px;
              
            }
          }
        }
      }
    }
  }
  
}

#partner_mai_altair {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

#partner_mai_altair .table-cell {
  border-right: 1px solid black;
  padding: 5px;
  text-align: center;
  width: 50%;
  
}

#partner_mai_altair .image-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#partner_mai_altair .image {
  max-width: 100%;
  height: 30%;
}

#partner_mai_altair .right-image-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

