.partners {
 
  .cards {
    margin-block-end: 5rem;    
    gap: 3.8rem;

    .card {
      // --card-size: calc((100% - (1.875rem * 1)) / 2);
      --card-size: 15rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: var(--card-size);
      padding:10px;
      
    
      
      .icon {
        
        img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: contain;

        }
      }
    }
  }

  
}
