.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  

  text-align: center;
  width: 100%;

  @media screen and (min-width: 480px) {
    
  }

  @media screen and (min-width: 680px) {
    
    scroll-snap-align: start;
  }

  &-title {
    margin: 0;
    padding-block: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
    margin-block-start:2rem;
    
    @media screen and (min-width: 480px) {
      padding-block: 3rem;
      font-size: 3rem;
    }

    @media screen and (min-width: 680px) {
      font-size: 3rem;
    }

  }

  h3 {
    text-align: center;
  }

  .panel-content {
    background: hsla(0 0% 100% / 0.15);
  }

  &--light {
    background-color: var(--light);
    color: var(--blue-200);

    .panel-content {
      background: hsla(0 0% 0% / 0.05);
    }
  }

  &--div-light {
    background-color: rgb(238, 238, 238);
    color: var(--blue-200);

    .panel-content {
      background: hsla(0, 0%, 100%, 0.773);
    }
  }

  &--insight-blue {
    background-color: rgb(255, 255, 255);
    color: var(--light-100);

    .panel {
      border: 1px solid var(--blue-200)
    }

    .panel-content {
      background:#27A8E0;
    }

    .panel-footer {
      color: var(--blue-200);
      font-size: 1.3rem;
      padding: 2rem 0;
      // background-color: var(--light-100);
    }

    padding-block-end: 7rem;;
  }

  &--dark {
    background-color: var(--dark-300);
    color: var(--light);
  }

  &--blue {
    background-color: var(--blue-100);
    color: var(--light);
  }

  &--blue-200 {
    background-color: #27A8E0;
    color: var(--light);
  }

  &--grey {
    background-color: var(--light-100);
    color: var(--blue-200);
  }

  &--content {
    padding-block: 0;

    .action {
      margin-block: 1.5rem 2.5rem;

      a {
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--blue-200);

        @media screen and (min-width: 480px) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 960px) {
          font-size: 1.875rem;
        }
      }
    }
  }
}

.our-work-section {
  // scroll-snap-align: start;

  @media screen and (min-width: 680px) {
    scroll-snap-type: y proximity;
  }

  .section {
    justify-content: center;
    align-items: center;


    @media screen and (min-width: 680px) {
      min-height: 100vh;
      scroll-snap-align: start;

    }
  }
}

.our-short-work-section {
  
  @media screen and (min-width: 680px) {
    scroll-snap-type: y proximity;
  }

  .section {
    justify-content: center;
    align-items: center;


    @media screen and (min-width: 680px) {
      min-height: 65vh;
      scroll-snap-align: start;

    }
  }
}

#our-work {

  .cards {
    margin-bottom: 50px;


    @media screen and (min-width: 2000px) {
      margin: 0 15rem;
      margin-bottom: 50px;
    }
  }

  .value {
    margin-bottom: 10px;

  }


}