.quote-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
}

.quote-marks {
    img{

        width:70px;
        height:70px;
        @media screen and (max-width: 570px) {
            width:35px;
            height:35px;
        }
    }

    &.right{
        img {
            transform: rotateY(180deg);
        }
    }
}

.quote-text {
    // flex: 1;
    padding: 0 100px; /* Adjust the padding as needed */
}
