.video-container {
    position: relative;
    width: 26%;
    padding-bottom: 17%; /* 16:9 aspect ratio (adjust as needed) */
}

// /* Style the iframe to fill the video container */
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

