/*styling for header for this page specifically*/
.contact-page {

    background: #27A8E0;
    opacity: 1;

}


/*page headings*/
.contact-title {
    padding-bottom: 0;
}


.contact-subtext {
    margin-top: 0.5rem;

}


/*contact form*/
.contact-form {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;

    background-color: #fff;
    border-style: solid;
    border-color: #27A8E0;
    border-radius: 20px;
    margin-bottom: 5rem;

    
}


/*user information section*/
.user-section {
    flex: 1;
    padding: 2rem;
}

.user-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 1.875rem;
    margin: 0 1.875rem;
}

.form-control {
    position: relative;
    margin: 20px 0;
    width: 300px;
}

.form-control input {
    border: 0;
    border-bottom: 2px solid rgb(185, 185, 185);
    padding: 15px 0;
    display: block;
    font-size: 1rem;
    width: 100%;
    transition: 0.1s ease-in;
}

.form-control input:focus,
.form-control input:valid {
    border-bottom-color: #27A8E0;
    outline: none;
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: #27A8E0;
    transform: translateY(-30px);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    color: rgb(185, 185, 185);
}

.form-control label span {
    display: inline-block;
    font-size: 1rem;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control textarea {
    border: 0;
    border-bottom: 2px solid rgb(126, 126, 126);
    padding: 15px 0;
    display: block;
    font-size: 1rem;
    width: 100%;
    transition: 0.1s ease-in;
}

.form-control textarea:focus,
.form-control textarea:valid {
    border-bottom-color: #27A8E0;
    outline: none;
}

.form-control textarea:focus+label span,
.form-control textarea:valid+label span {
    color: #27A8E0;
    transform: translateY(-30px);
}

.user-message {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;

    .form-control {
        width: 100%;
    }

}


/*button*/
button {
    background-color: #27A8E0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2399cc;
}


/*company information section*/
.company-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #27A8E0;
    
}

.company-details {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.company-text {
    margin-block-start: 1rem;
    margin-block-end: 0;
    padding-left: 1rem;

}

iframe{
    position: relative !important;
}