h3 {
  font-size: 1.75rem;
  font-weight: 500;

  @media screen and (min-width: 680px) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 840px) {
    font-size: 2.2rem;
  }
}

.ta {
  &-center {
    text-align: center;
  }
}

.typography {
  h2 {
    margin-block: 5.5rem 1.5rem;

    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.4;

    color: var(--blue-200);

    @media screen and (min-width: 800px) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: 960px) {
      font-size: 3.125rem;
    }
  }

  h3 {
    margin-block: 1.5rem;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;

    color: var(--blue-200);

    @media screen and (min-width: 800px) {
      font-size: 2rem;
    }
    @media screen and (min-width: 960px) {
      font-size: 2.5rem;
    }
  }
}
a {
  color: inherit;
}