.division-intro {
  p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;

    text-align: center;

    @media screen and (min-width: 800px) {
      font-size: 1.875rem;
    }
  }
}
